USE [master]
GO
/****** Object:  Database [dbObjetosPerdidos]    Script Date: 25/02/2016 03:10:19 p.m. ******/
CREATE DATABASE [dbObjetosPerdidos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbObjetosPerdidos', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbObjetosPerdidos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbObjetosPerdidos_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\dbObjetosPerdidos_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbObjetosPerdidos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbObjetosPerdidos]
GO
/****** Object:  Table [dbo].[Obj_Perdido]    Script Date: 25/02/2016 03:10:20 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Obj_Perdido](
	[IdObjPerdido] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Objeto] [char](30) NOT NULL,
	[Fecha] [char](30) NOT NULL,
 CONSTRAINT [PK_Obj_Perdido] PRIMARY KEY CLUSTERED 
(
	[IdObjPerdido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Propietario]    Script Date: 25/02/2016 03:10:20 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Propietario](
	[IdAlumno] [int] IDENTITY(201600000,12345) NOT NULL,
	[Nombre] [char](30) NOT NULL,
	[Apellidos] [char](30) NOT NULL,
	[IdObjPerdido] [int] NOT NULL,
	[Fecha] [char](30) NOT NULL,
	[Fecha_Devolucion] [char](30) NOT NULL,
 CONSTRAINT [PK_Propietario] PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Propietario]  WITH CHECK ADD  CONSTRAINT [FK_Propietario_Obj_Perdido] FOREIGN KEY([IdObjPerdido])
REFERENCES [dbo].[Obj_Perdido] ([IdObjPerdido])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Propietario] CHECK CONSTRAINT [FK_Propietario_Obj_Perdido]
GO
USE [master]
GO
